node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
config.json

# macOS
.DS_Store
yarn-error.log
.vscode/settings.json
config.json
eas.json
.vscode/.react/
